body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #be8abf;
  font-family: "Indie Flower", cursive;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message-list {
  width: 80%;
  height: 80%;
  border: 0.5px solid #f8c3af;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}

.card-body {
  flex-grow: 1;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.card-footer {
  align-self: center;
}

.card {
  width: 200px;
  height: 200px;
  border: 2px solid pink;
  margin: 1.5rem;
  border-radius: 20px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

input {
  width: 20vw;
  height: 5vh;
  border: none;
  background: transparent;
  outline: none;
  font-size: 1.5rem;
  font-family: "Indie Flower", cursive;
}

input:placeholder-shown {
  font-size: 1.5rem;
  color: black;
}

button {
  height: 5vh;
  width: 10vw;
  background: #fcd3de;
  font-size: 1rem;
  font-family: "Indie Flower", cursive;
}

.delete-btn {
  align-self: center;
}

form {
  margin: 50px;
}
